<div *ngIf="task">
    <h2>{{task.title}}</h2>
    <h3>Task ID:{{task.id}} details</h3>
    <p>{{task.description}}</p>
    <p>Priority: {{task.priority}}</p>
    <p>Complete: {{task.complete}}</p>
    <label>Title:</label>
    <input [(ngModel)]="task.title" placeholder="title" />
    <br />
    <label>Description:</label>
    <textarea [(ngModel)]="task.description"></textarea><br />
    <label>Priority</label>
    <input [(ngModel)]="task.priority" placeholder="0"><br />
    <label>Completed</label>
    <input type="checkbox" [(ngModel)]="task.complete"><br />
    <button (click)="goBack()">Back</button>
</div>