<ul class="tasks">
    <li *ngFor="let task of tasks" (click)="onSelect(task)"
        [class.selected]="task === selectedTask">
        <span class="badge">{{task.weight}}</span> {{task.title}}
    </li>
</ul>
<div *ngIf="selectedTask">
    <h2>
        {{selectedTask.title | uppercase}}
    </h2>
    <span class="small">ID:{{selectedTask.id}}</span>
    <span class="priority">Priority: {{selectedTask.priority}}</span>

    <p>{{selectedTask.description}}</p>
    <button (click)="gotoDetail()">Edit Details</button>
</div>